
@font-face {
   font-family: "roboto";
   src: url(../../assets/fonts/Roboto-Thin.ttf);
}

@font-face {
   font-family: "bebas";
   src: url(../../assets/fonts/BebasNeue-Regular.ttf);
}


.categoria {

   list-style: none;
   display: flex;
   font-family: "roboto" ;
   font-size: 1.5rem ;
   font-weight: bold;
   justify-content: space-between;
   
}

