

.card {
    padding-top: 150px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card img {
    height: 350px;
}